
@if (transactions) {
<div class="home">
    <h1>
        Transazioni
    </h1>
    <div class="transactions-list">
        @for (transaction of transactions; track $index) {
            @if(transaction.creditor_id != transaction.debitor_id) {
                <div class="container">
                    <div class="content">
                        <h4>
                            {{ transaction.title }}
                        </h4>
                        <p class="user">
                            {{getUsername(transaction.creditor_id)}} => {{getUsername(transaction.debitor_id)}}
                        </p>
        
                    </div>
                    <p class="import">
                        {{transaction.payment.toFixed(2)}} €
                    </p>
                </div>
                <mat-divider></mat-divider>
            }
        }
    </div>

    <button routerLink="/pagamento" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
    </button>
</div>
}