<div class="home">
    <h1>
        Transazioni
    </h1>
    <div class="transactions-list">
        @for (transaction of transactions; track $index) {
        <div class="container">
            <div class="content">
                <h4>
                    titolo
                </h4>
                <p class="user">
                    utente
                </p>

            </div>
            <p class="import">
                importo
            </p>
        </div>
        <mat-divider></mat-divider>
        }
    </div>

    <button routerLink="/pagamento" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
    </button>
</div>