<div class="pagamento">
    <h1>
        Nuova transazione
    </h1>
    <mat-form-field class="example-form-field">
        <mat-label>Importo</mat-label>
        <input matInput type="number" [(ngModel)]="import">

    </mat-form-field>
    <mat-form-field class="example-form-field">
        <mat-label>Titolo</mat-label>
        <input matInput type="text" [(ngModel)]="title">

    </mat-form-field>
    <div class="users-list">
        <h2>Utenti</h2>
        @for (user of users; track $index) {
        <div class="user-checkbox">
            <mat-checkbox [(ngModel)]="payUser[user.id]">
            </mat-checkbox>
            <div class="user">
                <p class="user">
                    Utente
                </p>
                <p class="import">
                    Importo
                </p>
            </div>
        </div>
        <div class="divider"></div>
        }

    </div>
    <div class="footer">
        <button mat-stroked-button>Annulla</button>
        <button mat-raised-button color="primary">Conferma</button>
    </div>

</div>