<div class="pagamento">
    <mat-form-field class="example-form-field">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" [(ngModel)]="import">
        @if (import) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="import=0">
            <mat-icon>close</mat-icon>
        </button>
        }
    </mat-form-field>
    <div class="users-list">
        @for (user of users; track $index) {
        <p><mat-checkbox [(ngModel)]="payUser[user.id]"> Utente</mat-checkbox></p>
        <p>
            import
        </p>
        }
    </div>
    <div class="footer">
        <button mat-stroked-button>Annulla</button>
        <button mat-raised-button color="primary">Conferma</button>
    </div>

</div>